body{
    background-color: black;
    display: flex;
    justify-content: center;
}



#main_buttons{
    display: flex;
    flex-direction: row;
    margin-top: 400px;
    margin: auto;
    -ms-transform: translateY(-40%);
    transform: translateY(-40%);
    margin: 0;
    position: absolute;
    top: 40%;
}


.big_button_black{
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    margin: 3vw;
    height: 20%;
    width: 55%;
    border: none;
    border-radius: 10%;
    position: relative;
}


.big_button_black:hover{
    background-color: rgb(19, 18, 18) !important;
    color: white !important;
    transition: 200ms;
}


.big_button_green{
    background-color: rgb(48, 213, 200);
    color: green;
    display: flex;
    flex-direction: column;
    margin: 3vw;
    height: 20%;
    width: 55%;
    border: none;
    border-radius: 10%;
    position: relative;
}


.big_button_green:hover{
    background-color: rgb(25, 99, 93) !important;
    color: rgb(43, 212, 43) !important;
    transition: 200ms;
}


.big_button_blue{
    background-color: yellow;
    color: blue;
    display: flex;
    flex-direction: column;
    margin: 3vw;
    height: 20%;
    width: 55%;
    border: none;
    border-radius: 10%;
    position: relative;
}


.big_button_blue:hover{
    background-color: rgb(14, 14, 192) !important;
    color: yellow !important;
    transition: 200ms;
}


#the_image{
    width: 7vw;
    height: 7vw;
    visibility: visible;
}


#title{
    color: white;
    width: 40%;
    height: 3%;
}


#time{
    color: white;
    visibility: hidden;
}


#the_header{
    background-color: none;
    width: 100%;
    display: flex;
    flex-direction: column;
}

